<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="/" aria-label="{{ .Site.Title }} home page">
        <img class="logo" src="{{ "images/logo.svg"}}" alt="">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}
    <div class="navfooter">
        <a href="/index.xml"><img src="{{.Site.BaseURL}}/images/fontawesome/rss-square.svg" width = 20></a>
        <a href="https://www.facebook.com/HS.ko.lab/"><img src="{{.Site.BaseURL}}/images/fontawesome/facebook.svg" width = 20></a>
        <a href="https://github.com/ko-lab"><img src="{{.Site.BaseURL}}/images/fontawesome/github.svg" width = 20></a>
        <!--<a href="https://wiki.ko-lab.space/"><img src="/images/fontawesome/pen-square.svg" width = 20></a>-->
        <a href="https://t.me/KoLabHackerspaceMechelen"><img src="{{.Site.BaseURL}}/images/fontawesome/telegram.svg" width = 20></a>
        <a href="https://www.meetup.com/Ko-Lab-mechelen/"><img src="{{.Site.BaseURL}}/images/fontawesome/meetup.svg" width = 20></a>
        <label for="themer" id="lightswitch">
            lights <input type="checkbox" id="themer" class="vh">
            <span aria-hidden="true"></span>
        </label>
    </div>
  </div>
</header>