<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="/" aria-label="{{ .Site.Title }} home page">
        <img class="logo" src="{{ "images/logo.svg" | absURL }}" alt="">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }}
      </p>
    </div>
    {{ partial "nav.html" . }}
    <div>
        <a href="/index.xml"><img src="/images/fontawesome/rss-square.svg" width = 20></a>
        <a href="https://www.facebook.com/HS.ko.lab/"><img src="/images/fontawesome/facebook.svg" width = 20></a>
        <a href="https://github.com/ko-lab"><img src="/images/fontawesome/github.svg" width = 20></a>
        <a href="https://wiki.ko-lab.space/"><img src="/images/fontawesome/pen-square.svg" width = 20></a>
        <a href="https://ptt.hackerspaces.be/#/room/#ko-lab:hackerspaces.be"><img src="/images/fontawesome/comment.svg" width = 20></a>
        
    </div>
    <div>
          <label for="themer">
            dark theme: <input type="checkbox" id="themer" class="vh">
            <span aria-hidden="true"></span>
          </label>
      </div>
  </div>
</header>