{{ $group := (.Get 0) }}
{{ $page := (printf "https://www.meetup.com/%s" $group) }}
{{ $jsonurl := (printf "https://api.rss2json.com/v1/api.json?rss_url=https://www.meetup.com/%s/events/rss" $group) }}
{{ $dataJ := getJSON $jsonurl }}
{{$exists := false}}
<div class="meetup-events">

    <ul>
        {{ with $dataJ.items }}
            {{ range first 5 . }}
                    {{ if ne .title "Open Friday"}}
                    <li>
                    <strong>{{ .title }}</strong> </br>
                    {{ $pars := findRE "<p>[^<]+</p>" .description }} 
                    {{/* {{ $org  := index $pars 0 | plainify }} */}}
                    {{ $info := index $pars 1 | plainify }}
                    {{ $date := index $pars 3 | plainify }} 
                    {{ $date }} <br>
                    <a href={{ .link }}>(more info)</a>
                </li>
                    {{else}}
                <li>
                    <strong>
                        Open Friday
                    </strong></br>
                    {{ $pars := findRE "<p>[^<]+</p>" .description }} 
                    {{ $info := index $pars 1 | plainify }}
                    {{ $date := index $pars 2 | plainify }} 
                    {{ $date }} <br>
                    <a href={{ .link }}>(more info)</a>
                </li>
                    {{end}}
            {{ end }}
        {{ end }}
    </ul>
    <p class="meetup-events-ext-link">
        For more visit <a href="{{ $page }}">our Meetup page.</a>
        <img src="{{.Site.BaseURL}}/images/fontawesome/meetup.svg" style="width:1.5rem;vertical-align: middle;">
    </p>
</div>
